@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1f20;
    --foreground: #fafafa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Menlo', Arial, Helvetica, sans-serif;
}

:root {
  --background: #fafafa;
  --foreground: #1d1f20;
  --title-dark: #262626;
}

.dark {
  --background: #1d1f20;
  --foreground: #c8c8c8;
}

@font-face {
  font-family: 'Menlo'; /* Usa el mismo nombre de familia */
  src: url('/fonts/Menlo-Regular.ttf') format('truetype');
  font-weight: normal; /* Peso normal */
  font-style: normal;
}

@font-face {
  font-family: 'Menlo'; /* Usa el mismo nombre de familia */
  src: url('/fonts/Menlo-Bold.ttf') format('truetype');
  font-weight: bold; /* Peso bold */
  font-style: normal;
}